* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    border: none;
    outline: none;
    /* font-family: sans-serif; */
}

/* Colours */
:root {
    --body-color:#080808;
    --nav-color: #4070F4;
    --side-nav: #010;
    --search-bar: #F2F2F2;
    --search-text: #O1O718;

    /* in this video */
    --bg-color:#080808;
    --bg2-color:#131313;
    --main-color:#00ffee;
    --text-color: #fff;
}
html{
    font-size: 60%;
    /* overflow-x: hidden; */
}
body {
    background-color:var(--bg-color);
    color:var(--text-color);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    color: var(--text-color);
    width: 100%;
    background-color:var(--bg-color);
    z-index: 5;
    /* backdrop-filter: blur(50px); */
    /* box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.5); */
}
.header-div {
    max-width: 1200px;
    margin-inline: auto;
    background-color:rgba(0,0,0,0.3);
}
.main-div {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    padding: 10px;
    /* margin-right: 50px; */
    /* background-color: red; */
}
[mohan="rajput"]{
    font-size: 25px;
    font-weight: 800;
    margin-left: 10px;
    cursor: pointer;
    transition: 0.3s ease;
}
.logo:hover{
    transform: scale(1.1);
}


.nav-div {
    position: relative;
    display: flex;
    align-items: center;
    gap:40px;
    /* flex-grow: 1; */
}
.nav-div a {
    text-decoration-line: none;
    color: inherit;
    font-size: 1.8rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom:2px solid transparent;

}
.nav-div a:hover{
    color:var(--main-color);
    border-bottom:2px solid var(--main-color);

}
.nav-div .active a {
    color: var(--main-color);
    border-bottom:2px solid var(--main-color);
}

/* Header close   */


/* section 1 start */
.header-connected-div {
    max-width: 1200px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #fff; */
    /* visibility: hidden; */
}
.home {
    height: 80vh;
    display: flex;
    align-items: center;
    color: #fff;
    padding: 60px 9px 0px;
}
.home-details{
    position: relative;
    top:25px;
}
.home-details>h1 {
    font-size: 50px;
}
.home-details>h2 {
    font-size: 32px;
    /* margin-top: -10px; */

}
.home-details>p {
    font-size: 1.5rem;
    font-weight: 500;
    max-width: 80%;
    /* max-width: 1000px; */
    margin: 10px 0px 25px;
    line-height: 1.8;
 }


/* button icosns */
.btn-div {
    display: inline-flex;
    transition: 0.3s ease-in-out;
}
.hire-btn{
    display: flex;
    padding-block:15px;
    align-items: center;
    justify-content: center;
    /* background-color: yellow; */
}
.main-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding:8px;
    width: 100px;
    background-color:var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 40px;
    font-size: 18px;
    font-weight: 800;
    color: #000;
    transition: 0.3s ease;
}
.btn-div >div>a{
    text-decoration-line: none;
}
.main-btn:hover {
    color:var(--main-color);
    background-color: transparent;
    /* box-shadow: none; */
}
.main-btn,
.btn-icons {
    display: flex;
    align-items: center;
    margin-left: 20px;
    /* background-color:var(--main-color) */
}
.btn-icons a {
    display:inline-flex;
    align-items: center;
    justify-content:center;
    width: 4.5rem;
    height: 4.5rem;
    background-color:var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 50%;
    margin-left:10px;
    transition: .5s;
}
.btn-icons a:hover {
    background-color: var(--main-color);
    color: #1f242d;
    box-shadow: 0 0 8px var(--main-color);
}
.btn-icons a>img {
    width: 20px;
}


/* face-> image */
.home-img {
    /* border-radius: 50%; */
    max-width: 40%;
    position: relative;
    top: 30px;
}
.img-items {
    position: relative;
    right: 40%; 
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid var(--main-color);
    transition: 0.3s ease-in-out;
}
.img-items>img {
    position: relative;
    width: 100%;
    margin-top: -40px;
    margin-left: -2px;
    cursor: pointer;
} 
.img-items:hover{
    border: 2px solid var(--main-color);
    box-shadow: 0 1px 10px var(--main-color);        
}
/* section 1 close  */


/* section 2 */
.heading{
    font-size: 50px;
    text-align: center;
    margin: 20px 0;
}
.education-section{
    padding: 100px 15px;
    background-color: var(--bg-color);
}
.education-section h2{
    margin-bottom: 60px;
}

.timeline-items{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 40px;
    width: 100%;

}
.timeline-items::before{   /*thorough this line is creating b/w dot's*/
    content: '';
    position: absolute;
    width: 5px;
    height: 130%;
    background-color: var(--main-color);
    left: calc(50% - 1px);
}
.timeline-items:last-child{
    margin-bottom: 0;
}
.timeline-items:nth-child(even){
    padding-right: calc(50% + 30px);
    text-align: left;
}
.timeline-items:nth-child(odd){
    padding-left: calc(50% + 30px);
    text-align: left;
}

.timeline-dot{
    height: 20px;
    width: 20px;
    background-color: var(--main-color);
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color);
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    top: 50px;
}
.timeline-date{
    font-size: 20px;
    font-weight: 800;
    color: #fff;
    margin: 6px 0 15px;
}
.timeline-content{
    background-color: var(--bg-color);
    border: 3px solid var(--main-color);
    padding: 30px 50px;
    border-radius: 40px;
    box-shadow: 0 0 10px var(--main-color);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.timeline-content:hover{
    transform: scale(1.05);
    box-shadow: 0 0 25px var(--main-color);
}

.timeline-content h3{
    font-size: 20px;
    color:inherit;
    margin: 0 0 10px;
    font-weight: 500;
}
.timeline-content p{
    color:inherit;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}
/* section 2 finish */



::-webkit-scrollbar{
     width:10px;/* scrollbar hide and become 10px big and black color */
}
::-webkit-scrollbar-thumb{
    background-color:var(--main-color);  /* scrollbar's color become aero*/
}
::-webkit-scrollbar-track{
    background-color:var(--bg-color);
    width:10px;/* pata nhi kya kar raha hai search about it */
}


/* Testimonials Section */
.testimonials{
    max-width: 1200px;
    margin: auto;
    background-color:var(--bg-color)
}
.testimonials-box{
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.testimonials .heading{
    margin-block: 50px;
}

.testimonials-box .testimonials-items >img{
        width: 100px;
        height: 100px;
        /* height: 100px; */
        border-radius: 50%;
        border: 3px solid var(--main-color);
        box-shadow: 0 1px 5px var(--main-color);
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:5px;
}
.testimonials-items{
    min-height: 450px; 
    max-width: 400px;
    background-color: rgba(0, 0,0,0.7);
    border: 3px solid rgba(238,238,238,0.2);
    border-radius: 15px;
    margin: 0 2rem;
    padding: 30px 60px;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap:15px;
    color: #fff;
    transition: 0.4s ease-in-out;
}
.testimonials-items:hover{
    border:3px solid var(--main-color);
    transform: translateY(-10px) scale(1.0);
    /* box-shadow: 0 0 50px var(--main-color); */
}
.testimonials-items h2{
        font-size: 24px;
}
.testimonials-items p{
    font-size: 13px;
}
.rating >img{
    background-color:gold;
    border-radius: 50%;
}
/* tertimonials finish */


/* Contact section start */
.contact{
    background-color: var(--bg-color);
}
.contact h2{
    margin-top: 50px;
    color: #fff;
}
.contact .me-contact{
    color:var(--main-color);
}
.contact form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 10px 0;
    text-align: center;
}
.contact form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 2.5rem;
    font-size: 1.5rem;
    color: var(--text-color);
    background-color: var(--bg2-color);
    border-radius: 2rem;
    border: 2px solid var(--main-color);
    margin: 1.5rem 0;
    resize: none;
}
.contact form .main-btn{
        margin: 15px 0 40px;
        font-size: 16px;
        /* text-align: center; */
        margin-inline: auto;
}

/* Footer */
.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: var(--bg2-color);
}
.footer .social{
    text-align: center;
    padding-bottom:25px;
    /* background-color:var(--main-color); */
}
.footer .social a{
    background-color: var(--main-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--main-color);
    width: 42px;
    height: 42px;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3s ease-in-out;
}
.footer .social a:hover{
    transform: scale(1.2) translateY(-10px);
    background-color: var(--main-color);
    box-shadow: 0 0 20px var(--main-color);
}
.footer ul{
    margin-block:0;
    padding: 0;
    line-height: 1.6;
    text-align: center;
    font-size: 18px;
}

.footer ul li a{
    color:inherit;
    text-decoration-line: none;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-in-out;
    
}
.footer ul li a:hover{
    border-bottom: 3px solid var(--main-color);
}
.footer ul li{
    display: inline-block;
    padding: 0 15px;
}
.footer .copyright{
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
    color: inherit;

}

/* now @media query starts  _|_*/
@media (max-width:1285px) {
    html{
        font-size: 55%;
    }
    
}

/* for grater-than -> 1000px only */
@media (min-width:1001px){
    header{
        padding: 5px 3%;
    }
    section{
        padding: 10rem 3% 2rem;
    }

    .home,.home-img{
        margin-top: -30px;
    }
    .img-items{
    position: relative;
    right:30%;
    }
  
}

/* less than -<1000px only */
@media (max-width:1000px){
    header{
        padding: 5px 2.5%;
    }
    section{
        padding: 10rem 3% 2rem;
    }

    .testimonials .wrapper{
        grid-template-columns: repeat(1,1fr);
        gap: 15px;
    }
   
    .contact form{
        flex-direction: column;
    }
    .footer{
        padding: 30px 3%;
    }

    /* paragraph and image home! */
    .header-connected-div{
        margin-top: -20px;
    }

    .home-details h3{
        font-size:15px;
        margin:3px 0;
    }
    .home-details h1{
        font-size: 4rem;
        margin-top: 3rem;
    }
    .home-details p{
        max-width: 60%;
        margin:10px 0;
    }

     /* image */
     .home-img {
        max-width:30%;
    }
    .img-items{
        position: relative;
        right:40%;
        border: 3px solid var(--main-color);
        box-shadow: 0 1px 10px var(--main-color);        
    } 
    
    .img-items:hover{
        border: 3px solid var(--main-color);
        box-shadow: 0 1px 25px var(--main-color);        
    } 

}

@media (max-width:740px) {
    body{
        min-width: 700px;
    }
    header{
        padding:5px 20px;
    }
    section{
        padding:20px 10px;
    }
   
    .header-connected-div{
        /* flex-direction: column-reverse; */
        margin: 10px;
    }

    .home-details h3{
        font-size:24px;
        /* text-align: center; */
    }
    .home-details h1{
        font-size:32px;
        margin-top: 2rem;
        /* margin-left: -50px; */
        /* text-align:center; */
        /* flex-grow: 0; */
    }
    .home-details p{
        max-width: 50%;
    }
   /* image */
    .home-img {
        max-width:30%;
    }
    .img-items{
        position: relative;
        right:40%;
        border: 5px solid var(--main-color);
        box-shadow: 0 1px 15px var(--main-color);        
    } 
    .img-items:hover{
        border: 5px solid var(--main-color);
        box-shadow: 0 1px 25px var(--main-color);        
    } 
   
    .timeline-items::before{
        left:0;
    }
    .timeline-items:nth-child(even){
        padding-right: 0;
        text-align: left;
    }
    .timeline-items:nth-child(odd),
    .timeline-items:nth-child(even){
        padding-left:30px;
    }
    .timeline-dot{
        left: -7px;
    }
  
}

@media (max-width:550px) {

    .header-connected-div{
        flex-direction: column-reverse;
        margin-top: 60px;
    }
    .home-details{
        margin-top:-40px ;
    }
    .home-details p{
        max-width: 90%;
        /* margin:auto; */
        /* text-align: center; */
    }
    .home-details h1{
        margin: auto;
    }
   
    .home-img{
        width:90%;
        margin-left:-48px;
    }

}

@media (width<500px) {
    body{
        /* background-color: red;; */
       min-width:500px;
    }
    header{
        padding: 0;
    }
    section{
        width: 90%;
        padding: 0;
        margin: auto;
    }
    .footer{
        width: 100%;
    }
    
    .btn-div{
        margin-left: -22px;
    }
    .timeline-items{
        left:-20px;
    }
}

/* hambergarh and close icon */
.hambergrah-menu{
    display: none;
}
.close-menu{
    display: none;
}

@media (max-width:740px){
    .nav-div{
        display: none;
        position:absolute;
        top:10px;
        right:-25px;
        flex-direction: column;
        border: 2px solid #e9eaeb;
        border-radius: 10px;
        background-color:var(--bg2-color);
        box-shadow:0px 1px 2px 0px rgba(0,0,0,0.2);
        width:200px;
        text-align: center;
        padding-block: 20px;
        margin-right:0;
        z-index: 1;
    } 
    .hambergrah-menu{
        background-color: yellow;
        display:block;
        width:40px;
       
        
        position: absolute;
        right:-5px;
        color: red;
        font-size: 32px;
        font-weight: 700;
        text-align: center;
        cursor: pointer;
        
    }
    .close-menu{
        display:none;
        position:absolute;
        top:20px;
        right:-6px;
        font-size:32px;
        color:#fff;
        cursor: pointer;
        z-index:1;
    }

}


/* important to display nav-div on deskstop mode */
@media (min-width:741px){
    .nav-div{
        display: flex !important;
    }

}